// Define your colors and fonts here
$main-color-1: rgb(255, 197, 147);
$main-color-2: rgb(188, 113, 152);
$main-color-3: rgb(90, 119, 255);
$black: rgb(0, 0, 0);
$light-grey: rgb(223, 223, 223);
$white: rgb(255, 255, 255);
$font-default: "DM Sans", sans-serif;
