#footer {
  background-color: var(--black);
  padding: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //gap: 30rem;
}

.invite-footer {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.logos {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  & svg:nth-child(1) {
    & g path:nth-child(1) {
      fill: var(--white);
    }
  }
}

.social-medias {
  display: flex;
  gap: 1.5rem;

  & > svg > path {
    fill: var(--white);
  }
}

.pages {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  & a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      bottom: -2px;
      left: 0;
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      &::after {
        transform: scaleX(1);

      }
    }
  }
}
.get-invite {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  & small {
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--white);
    opacity: .50;
  }

  & div {
    align-self: end;
  }
}

@media(min-width: 330px) and (max-width: 600px) {
  #footer {
    flex-direction: column;
    padding: 5rem;
    gap: 4rem;
  }

  .logos {
    gap: 3rem;
    align-items: center;
  }

  .pages {

    & div {
      & a {
        font-size: 1.7rem;
      }
    }
  }

  .get-invite {
    margin-top: 7rem;
    gap: 3rem;
  }

  .invite-footer {
    align-self: center !important;
  }
}

@media(min-width: 600px) and (max-width: 1280px) {
  #footer {
    flex-direction: column;
    padding: 5rem;
    gap: 4rem;
  }

  .logos {
    gap: 3rem;
    align-items: center;
  }

  .pages {

    & div {
      & a {
        font-size: 2.5rem;
      }
    }
  }

  .get-invite {
    margin-top: 7rem;
    gap: 3rem;
  }

  .invite-footer {
    align-self: center !important;
  }

  .invite-button {
    font-size: 2rem;
  }
}