.main-container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: var(--black);
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .slider:before {
      background-color: var(--white);
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grey);
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: var(--black);
    -webkit-transition: .4s;
    transition: .4s;
  }

}
.round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}

.price-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-changer {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  & > h3 {
    font-size: 1.8rem;
    transition: color .2s;
  }
}

.active {
  color: var(--black) !important;
}

.monthly,
.yearly {
  color: var(--light-grey);
}

.prices {
  transition: transform 0.5s ease-in-out;
  margin-top: 5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.pricing-plan {
  background-color: var(--light-grey);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  width: 28vw;
  transition: scale .1s ease-in-out;

  &:hover {
    scale: 1.05;
  }
}

.pro {
  background-color: var(--black);
  color: var(--white);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Height of the top border */
    background: linear-gradient(to bottom, var(--main-color-1), var(--main-color-2), var(--main-color-3));
  }
}

.title-descr {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  & h2 {
    font-size: 2.4rem;
  }

  & p {
    font-size: 1.5rem;
    text-align: center;
  }
}

.price-pr-mnth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & h3 {
    font-size: 4rem;
  }

  & p {
    text-align: center;
    font-size: 1.5rem;
  }
}


.choose-btn {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 80%;
  padding: 1.2rem 0;
  margin-bottom: 2.5rem;
  text-decoration: none;

  &:hover {
    background-color: var(--white);
    color: var(--black);
  }

  & a {
    text-decoration: none;
    color: var(--white);
    padding: 1.2rem 0;

  }
}

.packages-section {
  display: flex;
  align-self: center;
  gap: 3rem;


  & h2 {
    align-self: center;
    font-size: 4rem;
    font-weight: bold;
  }
}

.pricing-table {
  margin-left: 35rem;
  margin-right: 35rem;
  border-collapse: collapse;

}

.pricing-table thead th {
  border-bottom: 2px solid #000; /* Thick line between header and body */
  padding-bottom: 10px; /* Space between the text and the border */
}

.pricing-table tbody tr {
  border-bottom: 1px solid #e0e0e0; /* Light line between rows */
}

.pricing-table td,
.pricing-table th {
  padding: 15px 10px; /* Padding inside cells */
}

.pricing-table tbody td {
  text-align: center; /* Center the check marks */
}

.pricing-table tbody tr:last-child {
  border-bottom: none; /* Remove border from the last row */
}

.white-btn {
  background-color: var(--white);
  color: var(--black);
}

@media(min-width: 330px) and (max-width: 600px) {
  .prices {
    flex-direction: column;
    gap: 4rem;
  }

  .pricing-plan {
    width: 85vw;
  }

  .pricing-table {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (min-width: 600px) and (max-width: 1280px) {
  .prices {
    flex-direction: column;
    gap: 4rem;
  }

  .pricing-plan {
    width: 85vw;

    & div:nth-child(1) {
      justify-content: space-between;
      display: flex;

      & div:nth-child(1) {
        width: 50%;
      }
    }
  }

  .price-pr-mnth {
    flex-grow: 1;
    align-items: end;
    padding: 5rem;
  }

  .choose-btn {
    width: 20%;
    margin-left: 5rem;
    align-self: start;
  }

  .pricing-table {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .title-descr {

    &  h2 {
      align-self: start;
      margin-left: 3rem;
    }

    & p {
      text-align: start;
      margin-left: 3rem;
    }
  }
}

