.background-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.story-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);


  & h2, h3, p {
    margin: 0 0 10px 0;
    color: var(--white);
  }

  & h2 {
    font-weight: bold;
    font-size: 5.5rem;
  }

  & h3 {
    font-style: italic;
    font-size: 2.5rem;
  }

  & p {
    line-height: 5rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 330px) and (max-width: 600px) {
  .story-container {

    &  p {
      font-size: 1.2rem;
      line-height: 2.5rem;
    }

    & h2 {
      font-size: 4.5rem;
    }

    & h3 {
      font-size: 1.5rem;
    }
  }
}