.big-image {
  align-items: center;
  display: flex;
  position: relative;
  background-image: url("../assets/stories/desktop/moon-of-appalacia.jpg");
  height: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overview {
  margin-left: 4rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__featured {
    font-size: 1.2rem;
    text-align: left;
  }
  &__name {
    font-size: 4rem;
    font-weight: bold;
    max-width: min-content;
  }

  &__time {
    font-size: 1.3rem;
    font-weight: normal;
  }

  &__story {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: calc(100% - 70%);
  }
}

.read-story-1 {
  width: 150px;
  margin-top: 1.5rem;
  justify-content: space-between;
}

#works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & > div {
    position: relative;
    &:hover {

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-image: linear-gradient(to bottom, var(--main-color-1), var(--main-color-2), var(--main-color-3));
        transform: scaleX(1);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00), 0%, rgba(0, 0, 0, 0.22) 100%);
    }
  }
}

@media(min-width: 330px) and (max-width: 600px) {

  .main-stories-container {
    display: flex;
    flex-direction: column;
  }

  .big-image {
    flex-direction: column;
  }

  .overview {
    margin-left: 0;
    &__name {
      font-size: 2.5rem;
    }

    &__time {
      font-size: 1.5rem;
    }

    &__story {
      font-size: 1.3rem;
      width: 100%;
    }
  }
  .invite {
    width: 100%;
  }
}


@media(min-width: 600px) and (max-width: 1280px) {

  .main-stories-container {
    display: flex;
    flex-direction: column;
  }

  .big-image {
    background-image: url("../../public/stories/tablet/moon-of-appalacia.jpg");
    height: 100%;
  }

  .overview {
    margin-top: 1.5rem;

    &__featured {
      font-size: 2.5rem;
    }

    &__name {
      font-size: 3.5rem;
    }

    &__time {
      font-size: 2rem;

    }

    &__story {
      width: 70%;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
  .little-wd {
    width: 250px;
    margin-bottom: 5rem;
  }
}

@media(min-width: 2560px) {
  .read-story-1 {
    width: 175px;
  }
}
